.banner{
    margin-top:8%;
    margin-left:7%;
    position:absolute;
    z-index:1;
}

.lead{
    background-color: var(--secondary_color);
    border-radius:var(--borders);
    
      
    opacity:0.9;
    padding:2% 1.5%;
    width:70%;
}

.lead>p{
    color:var(--main_color);
    font-size:var(--cta_big_text);
    font-family: var(--main_Font);
    font-weight:var(--main_emphasis_weight);
}

.lead_cta_container{
    margin-top:2rem;
    margin-bottom:2rem;
}

.lead_cta{
    background-color:var(--emphasis_color);
    border-radius:var(--borders);
    font-size:var(--cta_button_text);
    font-weight: var(--main_weight);
    padding:2% 1.5%;
    transition: all 0.1s ease-in-out;
    
}

.lead_cta:hover{
    background-color: var(--secondary_color);
    color:var(--emphasis_color);   
}


.container{
    padding:0.6% 1.5%;
    background-color: var(--secondary_color);
    display:inline-block;
    border-radius:var(--borders);
    color:var(--main_color);
    opacity:0.8;
}

.link{
    color:var(--main_color);
    padding:0.2rem;
    font-size:var(--link_text);
    margin-right:0.3rem;
    transition:all 0.2s ease-in-out;
    border-radius: var(--borders);
}

.link:hover{
    color:var(--emphasis_color);
    background-color: var(--secondary_color);
}

@media only screen and (max-width:950px) and (min-width:650px){
    .lead>p{
        font-size:var(--link_text);
    }

    .lead_cta{
        font-size:var(--navlink_font_size);
    }

    .link{
        font-size:var(--tablet_p_text);
        padding:0.3rem;
    }
}

@media only screen and (max-width:649px) and (min-width:500px){
 .lead>p{
        font-size:var(--tablet-heading);
    }

    .lead_cta_container{
    margin-top:3.5%;
    margin-bottom:3.5%;
}

    .lead_cta{
        font-size:var(--mobile-heading);
    }

    .link{
        font-size:var(--sm-mobile-heading);
        padding:0.1rem;
    }

}

@media only screen and (max-width:499px) and (min-width:430px){
    .lead>p{
        font-size:var(--tablet_p_text);
    }

    .lead_cta_container{
    margin-top:3.5%;
    margin-bottom:3.5%;
}

    .lead_cta{
        font-size:var(--sm-mobile-heading);
    }


    .link{
        font-size:var(--mobile-text);
        padding:0.1rem;
    }

}

@media only screen and (max-width:429px) and (min-width:320px){
    
    .banner{
        margin-top:5%;
    }

    .lead{width:90%;}

    .lead>p{
        font-size:var(--tablet_p_text);
    }

    .lead_cta_container{
    margin-top:2%;
    margin-bottom:5%;
}

    .lead_cta{
        font-size:var(--sm-mobile-heading);
    }

    .link{
        font-size:var(--sm-mobile-heading);
        padding:0.2rem;
    }
}