.footer{
    padding:1.5% 7%;
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secondary_color);
    color:var(--main_color);
}

.links>p{
    font-size:var(--footer-text);
    font-weight:var(--main_weight);
    margin-bottom:0.1rem;
}

.header{
    font-size:var(--footer-text);
    font-weight:var(--main_weight);
    margin-bottom:0.1rem;
}

.navLink{
    margin-right:0.4rem;
    padding:0.1rem;
    font-size:var(--footer-text);
    font-weight:var(--main_weight);
}

.navLink:hover{
    color:var(--emphasis_color);
}



@media only screen and (max-width:950px)and(min-width:800px){
    .links>p,.header,.navLink{
        font-size:var(--tablet_p_text);
    }
    .footer{
        flex-direction:column;
    }

    .footer>div{
        margin-bottom:3%;
    }
}


@media only screen and (max-width:799px) and (min-width:450px){
    .footer{
        flex-direction:column;
    }
   .links>p,.header,.navLink{
        font-size:var(--sm-mobile-heading);
    }
    .footer>div{
        margin-bottom:3%;
    }
}

@media only screen and (max-width:449px) and (min-width:320px){
    .footer{
        flex-direction: column;
    }
    .links>p,.header,.navLink{
        font-size:var(--mobile-text);
    }
    .footer>div{
        margin-bottom:3%;
    }
}