.workbreakdown{
    background-color:var(--secondary_color);
    color:var(--main_color);

    padding:3% 7%; 
    
}

.heading{
    font-size:var(--brand_fontSize); 
    font-weight:var(--main_weight);
    
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:3%;
    gap:0.5rem;

}

.grid_section{
    display:flex;
}

.grid_title{
    margin-left:0.5rem;
}

.icon{
    font-size:var(--link_text);
    color:var(--emphasis_color);
}

.grid_title{
    font-size:var(--link_text);
    color:var(--emphasis_color);
}

.text{
    margin-top:1rem;
    font-size:var(--footer-text);
    font-weight:var(--main_weight);
}


@media only screen and (max-width:950px)and(min-width:875px){
    .heading{
        font-size:var(--link_text);
    }

    .grid{
        gap:1rem;
        grid-template-columns: 1fr 1fr;
    }

    .grid_title{
        font-size:var(--navlink_font_size);
    }

    .icon{
        font-size:var(--navlink_font_size);
    }

    .text{
        font-size:var(--tablet_p_text);
    }
}


@media only screen and (max-width:799px) and (min-width:450px){
   .heading{
        font-size:var(--tablet_heading);
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .grid_title{
        font-size:var(--tablet_p_text);
    }

    .icon{
        font-size:var(--tablet_p_text);
    }

    .text{
        font-size:var(--sm-mobile-heading);
    }
}

@media only screen and (max-width:449px) and (min-width:320px){
 
    .heading{
        font-size:var(--mobile-heading);
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .grid_title{
        font-size:var(--sm-mobile-heading);
    }

    .icon{
        font-size:var(--sm-mobile-heading);
    }

    .text{
        font-size:var(--sm-mobile-text);
    }
}