@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Noto+Sans:wght@400;700&display=swap');

:root{

  --main_color:#F0F5F9;
  --secondary_color:#1E2022;
  --emphasis_color:#FBD46D;

  --brand_Font:'Lora', serif;
  --brand_weight:600;
  --brand_fontSize:1.2rem;

  --main_Font:'Noto Sans', sans-serif; 
  --main_weight:400;
  --main_emphasis_weight:700;

  --navlink_font_size:1rem;

  --nav_padding:1.25% 7%;

  --borders:4px;

  --cta_big_text:1.8rem;
  --cta_button_text:1.5rem;

  --link_text:1.2rem;

  /* Footer */
  --footer-text:0.9rem;

  --tablet-heading:1rem;
  --tablet_p_text:0.8rem;

  --mobile-heading:0.9rem;
  --mobile-text:0.6rem;

  --sm-mobile-heading:0.7rem;
  --sm-mobile-text:0.5rem;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--main_Font);
  font-weight:var(--brand_weight);
}

p,span,i,a,div{
  font-family:var(--main_Font);
  font-weight:var(--main_weight);
}
